<div class="user-form">
  <%= form_for @user, method: :patch, remote: true do |f| %>
    <div class="user-form-errors">
      <%= render "shared/error_messages", object: @user %>
    </div>

    <div class="user-avatar">
      <span><%= image_tag avatar_profile(@user), class: "image-user-profile" %></span>
      <span><%= f.file_field :avatar, class: "avatar-file-field" %></span>
    </div>

    <%= f.label "メイル" %>
    <label class="field form-control" readonly>
      <%= @user.email %>
    </label>

    <div class="field">
      <%= f.label "名前" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <label><%= f.radio_button :sex, "male", checked: true %>
        男性
      </label
      <label><%= f.radio_button :sex, "female" %>
        女性
      </label>
    </div>

    <div class="user-form-submit">
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
