<div id="about">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"><%= t :about %></h2>
          <h3 class="section-subheading text-muted"><%= t :about_us %></h3>
        </div>
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "trung.name" %></h2>
          <p class="lead">
            <%= t "_student_id" %><%= t "trung.student_id" %><br>
            <%= t "_class" %><%= t "trung.class" %><br>
            <%= t "_university" %><%= t "trung.university" %><br>
            <%= t "_position" %><%= t "trung.position" %><br>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
          <%= image_tag "trung.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "chinh.name" %></h2>
          <p class="lead">
            <%= t "_student_id" %><%= t "chinh.student_id" %><br>
            <%= t "_class" %><%= t "chinh.class" %><br>
            <%= t "_university" %><%= t "chinh.university" %><br>
            <%= t "_position" %><%= t "chinh.position" %><br>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6 td-about-image">
          <%= image_tag "chinh.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "nguyen.name" %></h2>
          <p class="lead">
            <%= t "_student_id" %><%= t "nguyen.student_id" %><br>
            <%= t "_class" %><%= t "nguyen.class" %><br>
            <%= t "_university" %><%= t "nguyen.university" %><br>
            <%= t "_position" %><%= t "nguyen.position" %><br>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
          <%= image_tag "nguyen.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "minh.name" %></h2>
          <p class="lead">
            <%= t "_student_id" %><%= t "minh.student_id" %><br>
            <%= t "_class" %><%= t "minh.class" %><br>
            <%= t "_university" %><%= t "minh.university" %><br>
            <%= t "_position" %><%= t "minh.position" %><br>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6 td-about-image">
          <%= image_tag "minh.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "tung.name" %></h2>
          <p class="lead">
            <%= t "_student_id" %><%= t "tung.student_id" %><br>
            <%= t "_class" %><%= t "tung.class" %><br>
            <%= t "_university" %><%= t "tung.university" %><br>
            <%= t "_position" %><%= t "tung.position" %><br>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
          <%= image_tag "tung.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>
