<% unless user_signed_in? %>
  <div class="ltt-header">
    <%= render "header_homepage" %>
  </div>
<% end %>
<div class="ltt-home-background">
  <div class="container">
    <div class="intro-text">
    <div class="intro-lead-in"><%= t :welcome %></div>
      <div class="intro-heading"><%= t :nice_to %></div>
    </div>
  </div>
</div>

<%= render "image_share" %>
<%= render "about" %>
