<div id="image-<%= image.id %>" class="image-show">
  <span>
    <span>
      <%= link_to image.user do %>
        <%= image_tag avatar_profile(image.user), class: "image-user-profile" %>
      <% end %>
    </span>
    <span class="user"><%= link_to image.user.name, image.user %></span>
  </span>
  <div class="address">
    <span><b>アドレス: </b></span>
    <%= link_to image.address, images_path(address: image.address) %>
  </div>
  <div class="category">
    <span><b>カテゴリ: </b></span>
    <%= link_to image.category.name, images_path(
      category: image.category.id) %>
  </div>
  <div class="more"><%= t "description" %> :
    <%= image.description %></div>
  <div>
    <%= link_to image do %>
      <%= image_tag image.image_url, class: "image-show-img" %>
    <% end %>
  </div>
  <div class="timestamp">
    <%= t "posted" %>
    <%= time_ago_in_words image.created_at %>
    <%= t "ago" %>
    <% if image.user.current_user? current_user %>
      <%= link_to t("action.edit"), edit_image_path(image) %> |
      <%= link_to t("action.delete"), image, method: :delete,
        data: {confirm: t("you_sure")} %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
