<% unless logged_in? %>
  <div class="ltt-header">
    <%= render "pages/header_homepage" %>
  </div>
<% end %>
<div class="container show-image-comment">
  <p id="notice"><%= notice %></p>
  <h1><%= t "list_images" %></h1>
  <div class="row">
    <% @images.each do |img| %>
      <div class="col-md-4"> 
        <div class="thumbnail">
          <%= link_to image_tag(img.image), img %>
          <div class="caption cpt">
            <%= link_to "編集", edit_image_path(img.id), class: "btn btn-link" %>
          </div>
          <div class="caption cpt">
            <%= link_to "削除", image_path(img.id), method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-link" %>
          </div>
          <div class="caption">
            <% str = img.description %>
            <div>
              <% if str.length > 25 %>
                <%= truncate(str, length: 25) %>
                <%= link_to "Read more", "", id: "read-more-#{img.id}", class: "btn btn-link" %>
                <script>
                  $("#read-more-<%= img.id %>").on("click", function(e) {
                    e.preventDefault()
                    $(this).parent().html("<%= escape_javascript str %>")
                  })
                </script>
              <% else %>
                <%= str %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to t("new_image"), new_image_path, class: "btn btn-primary" %>
</div>

<%= render "pages/image_share" %>
<%= render "pages/about" %>
