<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top ltt-navbar">
  <div class="container header-new">
    <div class="navbar-header page-scroll">
      <p id="title", class="navbar-brand page-scroll">
        <%= link_to t(:title), root_url, class: "navbar-brand page-scroll ltt-title" %>
      </p>
    </div>
    <%= search_form_for @q, url: search_images_path, html: { method: :post }  do |f| %>
      <div class="text-search col-md-4 ui search">
        <%= f.text_field :address, id: "search", placeholder: t("action.search") %>
      </div>
      <div class="search-button col-md-1">
        <%= f.submit "", class: "btn" %>
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="active ltt-header-item" id="_home">
          <%= link_to t(:home), root_path, class: "page-scroll" %>
        </li>
        <% unless current_user %>
          <li class="ltt-header-item" id="_about">
            <%= link_to t(:about), "#about", class: "page-scroll" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
